body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: hsl(218, 44%, 22%);
}

h2 {
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}

p {
    font-weight: 400;
    text-align: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px hsl(212, 45%, 89%);
    padding: 1rem;
}

img {
    width: 100%;
    border-radius: 1rem;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
