/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

### Primary

- Very Dark Blue: hsl(243, 87%, 12%)
- Desaturated Blue: hsl(238, 22%, 44%)

### Accent

- Bright Blue: hsl(224, 93%, 58%)
- Moderate Cyan: hsl(170, 45%, 43%)

### Neutral

- Light Grayish Blue: hsl(240, 75%, 98%)
- Light Gray: hsl(0, 0%, 75%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Fonts

#### Headings, Call-to-actions, Header Navigation

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700

#### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400
 */

 body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hsl(243, 87%, 12%);
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}
p {
    font-weight: 400;
    font-size: 1rem;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}
nav img {
    width: 120px;
}
nav ul {
    display: flex;
    list-style: none;
    
}
a {
    text-decoration: none;
    color: hsl(238, 22%, 44%);
    font-weight: 700;
    margin-right: 2rem;
}
a:hover {
    color: hsl(243, 87%, 12%);
}
.hero {
    display: flex;
    align-items: center;
    padding: 4rem 5rem;
    gap: 4rem;
}
.hero img {
    width: 650px;
}
input {
    padding: 1rem 2rem;
    width: 50%;
    margin-right: 2rem;
}
button {
    padding: 1rem 2rem;
    background-color: hsl(224, 93%, 58%);
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
  
}
button:hover {
    background-color: hsla(224, 93%, 58%, 0.546);
}
.intro {
    padding: 4rem 5rem;
    background-color: hsl(240, 75%, 98%);
    display: flex;

}
.intro img {
    width: 600px;
}
.intro p {
    width: 80%;
}
.curve{
    background-image: url('./images/bg-curve-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 50%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.testimonial img {
    width: 25px;
}
.testimonial p {
    font-size: 1rem;
    font-weight: 400;
}
.testimonial .person {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}
.testimonial .person img {
    width: 50px;
    border-radius: 50%;
}
.testimonial .person .person_info {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.testimonial .person_info p {
    font-size: 0.7rem;
    margin-top: -0.5rem;
}
.testimonial .person_info h3 {
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: -0.1rem;
}
.link {
    color:  hsl(170, 45%, 43%);
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.link:hover {
    color: hsla(170, 45%, 43%, 0.712);
}
.link img {
    width: 20px;
}

.cta {
    display: flex;
    gap: 1rem;
    padding: 4rem 5rem;
    background-color: hsl(238, 22%, 44%);
    color: white;
}
.cta p {
    width: 50%;
}
.cta_email {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cta_email input {
    padding: 1rem 2rem;
    width: 100%;
    margin-right: 2rem;
}

footer {
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img {
    color: white;
    width: 120px;
}
footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap : 1rem;
}
footer a {
    color: white;
    margin-right: 2rem;
}